main{
    background-image: url("https://img.pixers.pics/pho_wat(s3:700/FO/66/57/13/32/700_FO66571332_d43163059589e393bd4f774b441303f4.jpg,700,467,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,417,jpg)/carte-da-parati-spighe-di-grano-nel-campo-su-sfondo-bianco.jpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    h2{
        font-weight: bold;
        color: rgb(0,45,117);
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        margin: 50px 0;
        .card{
            margin: 20px 30px;
            position: relative;
            h3{
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%,-50%);
                display: none;
            }
            img{
                width: 350px;
            }
            img:hover{
                border: 3px solid rgb(0,45,117);
            }
            img:hover h3{
                display: block;
            }
        }
    }
}
