main{
    background-image: url("https://img.freepik.com/foto-gratuito/concetto-di-tovaglia-a-quadri-decorazione-rosso_53876-31714.jpg?size=626&ext=jpg");
    background-repeat: round;
    background-size: contain;
    padding: 50px;
    h2{
        font-weight: bold;
        color: black;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        margin: 50px 0;
        .card{
            margin: 20px 30px;
            position: relative;
            h3{
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%,-50%);
                display: none;
            }
            img{
                width: 350px;
            }
            img:hover{
                border: 3px solid $blue;
            }
            img:hover h3{
                display: block;
                z-index: 10;
            }
        }
    }
}
